.card_details {
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: #272727;
    .info_item {
        .term {
            color: #6d6d6d;
        }
    }
    .show_more {
        margin-top: 20px;
    }
}