@media (min-width: 768px) {
    .search-form {
        .form-control {
            background-color: #ececec;
            &.id, &.title {
                width: 160px;
            }
            &.search-by {
                width: 66px;
            }
            &.type {
                width: 88px;
            }
            &.year {
                width: 66px;
            }
        }
    }
}