list html
<div class="results_container" style="width:80%;margin:0 auto;">
<ul>
    <li class="col-md-3">
        <a ng-click="$ctrl.sort('imdbID')">
            Title
            <span ng-show="$ctrl.sortType == 'imdbID' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="$ctrl.sortType == 'imdbID' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
    </li>
    <li class="col-md-3"></li>
    <li class="col-md-3">
        <a ng-click="$ctrl.sort('Title')">
            Title
            <span ng-show="$ctrl.sortType == 'Title' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="$ctrl.sortType == 'Title' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
    </li>

    <li class="col-md-3">
        <a ng-click="$ctrl.sort('Year')">
            Year
            <span ng-show="$ctrl.sortType == 'Year' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="$ctrl.sortType == 'Year' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
        </a>
    </li>
</ul>

<ul ng-repeat="item in $ctrl.itemsList | orderBy:$ctrl.sortType:$ctrl.sortReverse">
    <li class="col-md-3" style="height: 30px;">
        ID: {{::item.imdbID}}
    </li>
    <li class="col-md-3" style="height: 30px;">
        <img width="30" height="30" src={{::item.Poster}} />
    </li>
    <li class="col-md-3" style="height: 30px;">
        Title: {{::item.Title}}
    </li>
    <li class="col-md-3" style="height: 30px;">
        Year: {{::item.Year}}
    </li>
</ul>
</div>